@import '../../styles/utils/vars';

.faq {
  max-width: 1000px;
  margin: 70px auto 0;

  &__h1 {
    font-size: 32px;
    color: $main-text;
    line-height: 38px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 30px;
  }

  &__item {
    border: 1px solid $gray-light;
    padding: 20px;
    border-radius: 16px;
    background-color: $white;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px $black-light;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    }
  }

  &__question {
    font-weight: 400;
    font-size: 18px;
    color: $main-text;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &--active {
      color: $light-blue;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    margin-left: 10px;
    transition: transform 0.3s ease;

    &--rotated {
      transform: rotate(180deg);
    }
  }

  &__answer {
    font-weight: 400;
    font-size: 16px;
    color: $gray-light;
    margin-top: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    opacity: 0;

    &--visible {
      max-height: 300px;
      opacity: 1;
    }
  }
}
